<div class="container">
  <div class="padding-15">
    <div class="cards-pf">
      <div class="row">
        <div class="col-sm-12 padding-15">
          <form>
            <label for="filter">Search guides:</label>
            <input (keyup)="filterGuides(filter.value)" id="filter" #filter type="text" />
          </form>
        </div>
      </div>
      <div class="row row-cards-pf">
        <div *ngFor="let guide of buffer" class="col-sm-6">
          <pfng-card [config]="guide"
                     (onActionSelect)="handleActionSelect($event)"
                     (onFilterSelect)="handleFilterSelect($event)">
              <p>{{guide.description}}</p>
          </pfng-card>
        </div>
      </div>
    </div>
    <div class="row padding-top-10">
      <div class="col-sm-12">
        <hr/>
      </div>
    </div>
  </div>
</div>
