.guide-block {
  min-height: 230px;
  height: 230px;
  padding: 15px;
}

.guide-inner {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #e6e6e6;
  padding: 15px;

  .title {
    margin-top: 0;
  }

  .description {
    min-height: 55px;
  }
}

#filter {
  padding: 5px;
}

.padding-15 {
  padding: 15px;
}

.tags {
  .tag {
    font-size: 9px;
    background-color: #d2d2d2;
    background-image: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}