<div class="container">
  <div class="padding-15">
    <div class="row">
      <div class="col-sm-12 padding-15">
        <form>
          <input [(ngModel)]="filterText" (change)="filterGuides(filter.value)" id="filter" #filter type="text" placeholder="Search guides..."  [ngModelOptions]="{standalone: true}"/>
        </form>
      </div>
    </div>
    <ng-container *ngFor="let category of categories">
      <div *ngIf="categoryHasGuides(category)" class="row row-cards-pf category">
          <div class="col-12">
            <h2>{{category.name}}</h2>
            <p>
              {{category.description}}
            </p>
          </div>
          <div *ngFor="let guide of getCategoryGuides(category)" class="col-sm-6 guide-block">
            <ng-container *ngTemplateOutlet="guideTemplate;context:{'guide':guide}"></ng-container>
          </div>
      </div>
    </ng-container>

    <div *ngIf="getOtherGuides().length > 0" class="row row-cards-pf category">
      <div class="col-12">
        <h2>Other guides & topics</h2>
      </div>
      <div *ngFor="let guide of getOtherGuides()" class="col-sm-6 guide-block">
        <ng-container *ngTemplateOutlet="guideTemplate;context:{'guide':guide}"></ng-container>
      </div>
    </div>

    <div class="row padding-top-10">
      <div class="col-sm-12">
        <hr/>
      </div>
    </div>
  </div>
</div>

<ng-template #guideTemplate let-guide="guide">
  <div class="guide-inner">
    <h3 class="title"><a class="link" [routerLink]="[guide?.urls?.local]">{{ guide?.title | slice:0:50 }}{{guide?.title.length > 50 ? '...' : ''}}</a></h3>
    <p class="tags">
      <span *ngFor="let t of guide?.tags" class="tag {{t}}" (click)="filter.value = t; filterGuides(t)">{{t}}</span>
    </p>
    <p class="description">{{ guide?.description | slice:0:150 }}{{guide?.description.length > 150 ? '...' : ''}}</p>
    <p class="actions">
      <a *ngIf="guide?.urls?.local" class="btn btn-lg btn-primary" [routerLink]="[guide?.urls?.local]">
        <i class="fa fa-book"></i>
        Read guide
      </a>
      <a *ngIf="guide?.urls?.booster" class="btn btn-lg btn-secondary" href="{{guide?.urls?.booster}}" target="_blank">
        <i class="fa rocket"></i>
        Download ZIP
      </a>
    </p>
  </div>
</ng-template>
