img.header-logo {
  width: 100px;
}

.navbar {
  color: #ddd;
  border-top: solid 5px #00cc00;
  font-size: 16px;
  transition: all 0.2s ease-in-out;

  .navbar-brand {
    padding-top: 10px;
  }

  li {
    padding-top: 5px;

    &.dropdown {
      display: none;
    }
  }
}

.nav-item-icon {
  white-space: nowrap;
}

.navbar-pf .navbar-header {
  min-height: 75px;
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
}

nav.wizard {}

.nav.navbar-nav.navbar-right {
  margin-top: 10px;
}

.navbar-brand {
  padding: 15px 20px;
  margin: 0;
}
@media (max-width: 768px) {
  .navbar {
    li {
      text-align: right;

      &:last-child {
        margin-bottom: 10px;
      }

      &.dropdown {
        display: block;
        font-size: 16px;
        min-height: 40px;

        &:hover {
          color: #fff;
        }

        .dropdown-icon {
          position: relative;
          top: 8px;
          font-size: 26px;
        }

        .dropdown-menu {
          display: block !important;
          overflow: hidden;
          transition: opacity 0.2s ease-in;
          opacity: 0;
          height: 0;
          padding: 0;
          margin: 0;
          overflow: hidden;
        }

        .dropdown-toggle {
          margin-top: -8px;
          height: 60px;
        }

        &.open {
          .dropdown-menu {
            opacity: 1;
            height: auto;
          }
        }
      }

      &.standard {
        display: none;
      }
    }
  }
}