img.header-logo {
  width: 100px;
}

.navbar {
  color: #ddd;
  border-top: solid 5px #00cc00;
  font-size: 16px;

  .navbar-brand {
    padding-top: 10px;
  }

  li {
    padding-top: 5px;
  }
}

.nav-item-icon {
  white-space: nowrap;
}

.navbar-pf .navbar-header {
  min-height: 75px;
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
}

nav.wizard {}

.nav.navbar-nav.navbar-right {
  margin-top: 10px;
}

.navbar-brand {
  padding: 15px 20px;
  margin: 0;
}
@media (max-width: 768px) {
  .dropdown {
    font-size: smaller;
  }

  .navbar-fixed-top {
    position: fixed;
    top: auto;
  }

  .navbar-collapse {
    max-height: none;
  }

  body {
    margin: 0;
  }
}