<nav id="header_wrapper" class="navbar navbar-default navbar-pf" [class.navbar-static-top]="!wizard" [class.navbar-fixed-top]="wizard" [class.wizard]="wizard" role="navigation">
  <div id="header_nav" class="navbar-header">
    <a class="navbar-brand page-scroll" routerLink="/">
      <img class="header-logo" src="../../assets/img/snowdrop-logo-text.png" alt="Snowdrop">
    </a>
    <ul class="nav navbar-nav navbar-right">
      <li *ngFor="let p of pages" [id]="p.id" class="standard">
        <a [id]="p.id + '-link'" [routerLink]="p.route">
          {{p.name}}
        </a>
      </li>

      <li class="dropdown" [class.open]="collapse">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" (click)="collapse = !collapse">
          <span class="dropdown-icon">
            <i class="fa fa-bars"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li *ngFor="let p of pages" [id]="p.id + '-dropdown'" class="dropdown">
            <a [id]="p.id + '-dropdown-link'" [routerLink]="p.route" (click)="collapse = true">
              {{p.name}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
