.btn-submit {
  margin-top: 20px;
  padding: 8px;
  font-size: 18px !important;
  border-radius: 5px;
}

.module {
  background-color: #ccffcc;
  color: #000;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  float: left;
  width: auto;
  padding: 5px;
  margin-bottom: 15px;
  margin-right: 10px;

  &:hover {
    background-color: #ffcccc;
    color: #000;
  }
}

.template {
  border: solid 1px #666;
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.clear {
  clear: both;
  float: none;
}