<div class="container">
  <div class="padding-15">
    <div class="row">
      <div class="col-sm-10 padding-15">
        <h1>Generate a Spring Boot Project</h1>

        <form *ngIf="genForm" [formGroup]="genForm" (ngSubmit)="generate()">

          <div class="form-group">
            <label for="snowdropVersion">Spring Boot Version</label>
            <select formControlName="springbootversion" class="form-control" id="snowdropVersion" (change)="onVersionChange($event.target.value)" aria-describedby="snowdropVersionHelp">
              <option *ngFor="let v of snowdropVersions" [value]="v.community">{{v.community}}</option>
            </select>
            <small id="snowdropVersionHelp" class="form-text text-muted">Sets the Snowdrop version, including default Spring Boot version and other dependencies.</small>
          </div>

          <div class="form-group">
            <input formControlName="supported" type="checkbox" class="checkbox-inline" id="supported"
                   (change)="onSupportedChange($event.target)">
            <label for="supported" class="checkbox-label">Use supported version (requires support subscription)</label>
          </div>

          <div class="form-group">
            <label for="groupId">Group ID</label>
            <input formControlName="groupid" type="text" class="form-control" id="groupId" aria-describedby="groupIdHelp" placeholder="Enter group ID">
            <small id="groupIdHelp" class="form-text text-muted">Typically this is your top-level domain.</small>
          </div>

          <div class="form-group">
            <label for="artifactId">Artifact ID</label>
            <input formControlName="artifactid" type="text" class="form-control" id="artifactId" aria-describedby="artifactIdHelp" placeholder="Artifact ID">
            <small id="artifactIdHelp" class="form-text text-muted">Usually based on the name of your project.</small>
          </div>

          <div class="form-group">
            <label for="template">Application Type</label>
          </div>
          <div class="row">

            <div class="col-sm-2">
              <a (click)="selectTemplate('custom')" class="template btn" [class.btn-primary]="isModulesEnabled()">
                custom
              </a>
              with:
            </div>
            <div class="col-sm-10 modules">
              <ng-container>
                <div class="form-group">

                  <label for="modules">Modules / Starters</label>

                  <ng-select id="modules" formControlName="modules" placeholder="Click / type to find modules"
                    [clearSearchOnAdd]="false"
                    [closeOnSelect]="false"
                    [items]="modules"
                    [bindLabel]="value"
                    [bindValue]="value"
                    groupBy="tag"
                    [searchFn]="searchModules"
                    [selectableGroup]="false"
                    [selectableGroupAsModel]="false"
                    [multiple]="true">

                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span class="ng-value-label"><strong>{{item.name}}</strong></span>
                      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>

                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                      <span class="module-tag-group">{{item.tag}}</span>
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div class="ng-value-select-icon">
                        <i *ngIf="item$.selected" class="fa fa-check-circle"></i>
                      </div>
                      <span class="ng-value-label"><span [class.bold]="item$.selected">{{item.name}}</span><span *ngFor="let t of item.tags" class="module-tag">{{t}}</span><br />
                        <small class="form-text text-muted">{{item.description}}</small>
                      </span>
                    </ng-template>

                  </ng-select>

                  <small id="modulesHelp" class="form-text text-muted">`Modules allow you to add Spring Boot starters and Integrations to your application (e.g. Web, Persistence, etc).`<br /><br /></small>
                </div>
                <div *ngIf="!isModulesEnabled()" class="modules-cover">
                </div>
              </ng-container>
            </div>
          </div>

          <div class="form-group">
            <label for="template">Or choose an Application Template</label>
            <div class="clear"></div>
            <ng-container *ngFor="let t of templates">
              <a *ngIf="t.value !== 'custom'" (click)="selectTemplate(t.value)" class="template btn" [class.btn-primary]="genForm.controls['template'].value === t.value">
                {{t.name}}
              </a>
            </ng-container>
            <div class="clear"></div>
            <small id="templateHelp" class="form-text text-muted">{{getTemplateDescription()}}</small>
          </div>

          <div class="form-group">
            <a *ngIf="advancedMode" (click)="advancedMode = false" class="link">Show fewer options</a>
            <a *ngIf="!advancedMode" (click)="advancedMode = true" class="link">Show more options</a>
          </div>

          <ng-container *ngIf="advancedMode">
            <div class="form-group">
              <label for="version" class="text-muted">Project Version</label>
              <input formControlName="version" type="text" class="form-control" id="version" aria-describedby="versionHelp" placeholder="1.0.0-SNAPSHOT">
              <small id="versionHelp" class="form-text text-muted">The initial version number of your project.</small>
            </div>

            <div class="form-group">
              <label for="packageName" class="text-muted">Project Package</label>
              <input formControlName="packagename" type="text" class="form-control" id="packageName" aria-describedby="packageHelp" placeholder="org.example">
              <small id="packageHelp" class="form-text text-muted">The Java package name in which your sources will reside.</small>
            </div>
          </ng-container>



          <button [disabled]="!canGenerate()" type="submit" class="btn btn-primary btn-submit">Generate Project: &nbsp; Ctrl + ⏎</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Recommended Guides overlay -->
<div class="guides-overlay" [class.active]="showGuidesOverlay">
  <div class="guides-overlay-inner">
    <div class="padding-15">
      <h1>
        What next?
        <a class="pull-right link" (click)="showGuidesOverlay = false">
          <i class="fa fa-close"></i>
          Close
        </a>
      </h1>
      <p>
        Now that you've got your application, check out some guides to see what you can do next!
      </p>

      <div *ngIf="relatedGuides?.length > 0" class="row row-cards-pf related guides">
        <ng-container *ngFor="let guide of relatedGuides; let i = index">
          <div *ngIf="i < 4" class="col-sm-12 guide-block">
            <div>
              <h4 class="title"><a *ngIf="guide.urls?.local" [routerLink]="['../',guide.urls.local]"> {{guide.title}}  </a></h4>
              <p class="description">{{guide.description}}</p>
            </div>
          </div>
        </ng-container>
      </div>

      <div *ngIf="!relatedGuides?.length" class="row row-cards-pf related guides align-center">
        <a class="btn btn-primary download" href="/guides">
          <i class="fa fa-save"></i>
          Browse Guides
        </a>
      </div>
    </div>
  </div>
</div>
