.btn-submit {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
  font-size: 18px !important;
  border-radius: 5px;
}

.link {
  cursor: pointer;
}

.module-tag {
  text-transform: uppercase;
}

.template {
  border: solid 1px #666;
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.clear {
  clear: both;
  float: none;
}