<div class="container">
  <div class="padding-15">
    <div class="row">
      <div class="col-sm-10 padding-15">
        <h1>Generate a Spring Boot Project</h1>

        <form *ngIf="genForm" [formGroup]="genForm" (ngSubmit)="generate()">

          <div class="form-group">
            <label for="snowdropVersion">Spring Boot Version</label>
            <select formControlName="springbootversion" class="form-control" id="snowdropVersion" aria-describedby="snowdropVersionHelp">
              <option *ngFor="let v of snowdropVersions" [value]="v.community">{{v.community}}</option>
            </select>
            <small id="snowdropVersionHelp" class="form-text text-muted">Sets the Snowdrop version, including default Spring Boot version and other dependencies.</small>
          </div>

          <div class="form-group">
            <label for="template">Application Template</label>
            <div class="clear"></div>
            <ng-container *ngFor="let t of templates">
              <a (click)="selectTemplate(t.value)" class="template btn" [class.btn-primary]="genForm.controls['template'].value === t.value">
                {{t.name}}
              </a>
            </ng-container>
            <div class="clear"></div>
            <small id="templateHelp" class="form-text text-muted">{{getTemplateDescription()}}</small>
          </div>

          <div class="form-group">
            <label for="groupId">Group ID</label>
            <input formControlName="groupid" type="text" class="form-control" id="groupId" aria-describedby="groupIdHelp" placeholder="Enter group ID">
            <small id="groupIdHelp" class="form-text text-muted">Typically this is your top-level domain.</small>
          </div>

          <div class="form-group">
            <label for="artifactId">Artifact ID</label>
            <input formControlName="artifactid" type="text" class="form-control" id="artifactId" aria-describedby="artifactIdHelp" placeholder="Artifact ID">
            <small id="artifactIdHelp" class="form-text text-muted">Usually based on the name of your project.</small>
          </div>

          <div class="form-group">
            <a *ngIf="advancedMode" (click)="advancedMode = false" class="link">Show fewer options</a>
            <a *ngIf="!advancedMode" (click)="advancedMode = true" class="link">Show more options</a>
          </div>

          <ng-container *ngIf="advancedMode">
            <div class="form-group">
              <label for="version" class="text-muted">Project Version</label>
              <input formControlName="version" type="text" class="form-control" id="version" aria-describedby="versionHelp" placeholder="1.0.0-SNAPSHOT">
              <small id="versionHelp" class="form-text text-muted">The initial version number of your project.</small>
            </div>

            <div class="form-group">
              <label for="packageName" class="text-muted">Project Package</label>
              <input formControlName="packagename" type="text" class="form-control" id="packageName" aria-describedby="packageHelp" placeholder="org.example">
              <small id="packageHelp" class="form-text text-muted">The Java package name in which your sources will reside.</small>
            </div>
          </ng-container>

          <ng-container *ngIf="isDependenciesEnabled()">
            <div class="form-group">
              <label for="dependencies">Modules / Dependencies</label>
              <select formControlName="dependencies" class="form-control" id="dependencies">
                <ng-container *ngFor="let m of dependencies">
                  <option *ngIf="!isDependencySelected(m)" [value]="m.value">{{m.name}} - {{m.description}}</option>
                </ng-container>
              </select>
              <small id="dependenciesHelp" class="form-text text-muted">`Modules allow you to add Spring Boot starters and Maven dependencies to your application configuration (e.g. Web, Persistence, etc).`</small>
            </div>

            <div class="form-group">
              <div (click)="removeDependency(m)" *ngFor="let m of dependenciesSelected" class="module">
                {{m.name}} <i class="fa fa-close"></i>
              </div>
              <div class="clear"></div>
            </div>
          </ng-container>

          <button [disabled]="!canGenerate()" type="submit" class="btn btn-primary btn-submit">Generate Project: &nbsp; Ctrl + ⏎</button>
        </form>
      </div>
    </div>
  </div>
</div>
