:host /deep/ .f8launcher-container_nav {
  padding-top: 80px !important;
}

:host /deep/ .f8launcher-container_main {
  h1 {
    margin-top: 3.5em !important;
  }

  .list-group-item {
    cursor: pointer !important;
  }
}

:host /deep/ .f8launcher-container_close {
  .close {
    top: 90px !important;
  }
}