<div class="container">
  <div class="padding-15">
    <div class="documentation">
      <div class="row">
        <div class="col-sm-8 padding-15">
          <div>
            <h1>{{ guide?.title }}</h1>
            <p>{{ guide?.description }}</p>
            <p class="tags">
              <span *ngFor="let t of guide?.tags" class="tag {{t}}">{{t}}</span>
            </p>
          </div>
          <hr />
          <ng-container *ngIf="prerequisites?.length > 0">
            <div class="prerequisites">
              <div class="prereq prereq-label">
                <span class="label">Prerequisites</span>
              </div>
              <div *ngFor="let p of prerequisites" class="prereq">
                <a *ngIf="p.action?.url" class="link" [routerLink]="['../', p.action.url]">
                  <h1 class="title">{{ p?.title | slice:0:34 }}{{p?.title.length > 34 ? '...' : ''}}</h1>
                  <p class="description">
                    {{ p?.description | slice:0:80 }}{{p?.description.length > 80 ? '...' : ''}}
                  </p>
                </a>
              </div>
            </div>
            <hr />
          </ng-container>
          <asciidoctor [source]="source"></asciidoctor>
        </div>
        <div class="col-sm-4 padding-15">

          <div class="row" *ngIf="relatedGuides?.length > 0">
            <div class="col-sm-12">
              <h2>Keep learning</h2>
            </div>
          </div>

          <div class="row row-cards-pf guides">
            <ng-container *ngFor="let guide of relatedGuides; let i = index">
              <div *ngIf="i < 4" class="col-sm-12 guide-block">
                <div>
                  <h3 class="title">{{guide.title}}</h3>
                  <p class="description">{{guide.description}}</p>
                  <p class="actions">
                    <ng-container *ngIf="guide.type === 'booster'">
                      <a *ngIf="guide.action?.docurl" class="btn btn-lg btn-primary" href="{{guide.action?.docurl}}">
                        <i class="fa fa-book"></i>
                        Read guide
                      </a>
                      <a  *ngIf="guide.action?.url" class="btn btn-lg btn-secondary" href="{{guide.action.url}}">
                        <i [class]="guide.action.iconClass"></i>
                        {{guide.action.label ? guide.action.label : "Learn more"}}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="guide.type === 'guide'">
                      <a *ngIf="guide.action?.url" class="btn btn-lg btn-primary" [routerLink]="[guide.action.url]">
                        <i [class]="guide.action.iconClass"></i>
                        {{guide.action.label ? guide.action.label : "Learn more"}}
                      </a>
                    </ng-container>
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row padding-top-10">
      <div class="col-sm-12">
        <hr/>
      </div>
    </div>
  </div>
</div>
