<div class="container">
  <div class="padding-15">
    <div class="documentation">
      <div *ngIf="guide" class="row">
        <div class="padding-15" [class.col-sm-8]="true">
          <div class="guide-header">
            <h1>{{ guide?.title }}</h1>
            <p>{{ guide?.description }}</p>
            <div class="tags">
              <span *ngFor="let t of guide?.tags" class="tag {{t}}">
                <a [routerLink]="['/','guides']"  [queryParams]="{'t': t}" class="tag-link"
                  [style.background-color]="tags.getBgColor(t)" [style.color]="tags.getColor(t)">
                  {{t}}
                </a>
              </span>
            </div>
          </div>
          <hr />
          <ng-container *ngIf="prerequisites?.length > 0">
            <div class="prerequisites">
              <div class="prereq prereq-label">
                <span class="label">Prerequisites</span>
              </div>
              <div *ngFor="let p of prerequisites" class="prereq">
                <a *ngIf="p.urls?.local" class="link" [routerLink]="['../', p.urls.local]">
                  <h1 class="title">{{ p?.title | slice:0:34 }}{{p?.title.length > 34 ? '...' : ''}}</h1>
                  <p class="description">
                    {{ p?.description | slice:0:80 }}{{p?.description.length > 80 ? '...' : ''}}
                  </p>
                </a>
              </div>
            </div>
            <hr />
          </ng-container>
          <asciidoctor [source]="source" [expandable]=true ></asciidoctor>

          <ng-container *ngIf="enablements?.length > 0">
            <hr />
            <div class="prerequisites enablements">
              <div class="prereq prereq-label">
                <span class="label">Now try this</span>
              </div>
              <div *ngFor="let p of enablements" class="prereq enablement">
                <a *ngIf="p.urls?.local" class="link" [routerLink]="['../', p.urls.local]">
                  <h1 class="title">{{ p?.title | slice:0:34 }}{{p?.title.length > 34 ? '...' : ''}}</h1>
                  <p class="description">
                    {{ p?.description | slice:0:80 }}{{p?.description.length > 80 ? '...' : ''}}
                  </p>
                </a>
              </div>
            </div>
          </ng-container>
        </div>


        <div class="col-sm-4 padding-15">
          <div *ngIf="guide.urls?.booster || guide.urls?.source" class="row row-cards-pf metadata">
            <div class="col-sm-12">
              <h2>Get the code</h2>
              <a *ngIf="guide.urls?.booster; else sources" class="btn btn-primary download" href="{{guide.urls.booster}}" target="_blank">
                <i class="fa fa-save"></i>
                Download ZIP
              </a>
              <ng-template #sources>
                <a *ngIf="guide.urls?.source" class="btn btn-primary download repo" href="{{guide.urls.source}}" target="_blank">
                  <i class="fa fa-code"></i>
                  GitHub
                </a>
                <a *ngIf="guide.urls?.source" class="btn btn-secondary download zip" href="{{guide.urls.source}}/archive/master.zip" target="_blank">
                  <i class="fa fa-save"></i>
                  Zip
                </a>
              </ng-template>
            </div>

            <div class="col-sm-12">
              &nbsp;
            </div>

          </div>
        </div>

        <div *ngIf="relatedProjects?.length > 0" class="col-sm-4 padding-15">

          <div class="row row-cards-pf projects">
            <div class="col-sm-12">
              <h2>What we're using</h2>
              <p>
                Learn more about the open-source projects used in this guide:
              </p>
              <hr />
            </div>

            <ng-container *ngFor="let project of relatedProjects; let i = index">
              <div *ngIf="i < 4" class="col-sm-12 guide-block">
                <div>
                  <div class="thumbnail project-logo">
                    <img *ngIf="project.urls?.logo" [src]="project.urls?.logo"/>
                  </div>
                  <h3 class="title">
                    <a [routerLink]="['/','guides']"  [queryParams]="{'t': project.tag}" class="tag-link">
                      <span class="project-color" [style.background-color]="tags.getBgColor(project.tag)" [style.color]="tags.getColor(project.tag)">
                        &nbsp;
                      </span>
                      {{project.name}}
                    </a>
                  </h3>
                  <p class="description">{{project.description}}</p>
                  <p class="actions">
                    <a *ngIf="project.urls?.website" class="btn btn-lg btn-primary" href="{{project.urls.website}}">
                      <i class="fa fa-globe"></i>
                      View website
                    </a>
                    <a *ngIf="project.urls?.source" class="btn btn-lg btn-secondary" href="{{project.urls.source}}">
                      <i class="fa fa-code"></i>
                      Sources
                    </a>
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="col-sm-4 padding-15 toc-container">

          <div [hidden]="!displayToc" class="row row-cards-pf toc-inner">
            <div class="col-sm-12">
              <h2>Table of Contents <a (click)="goTop()" class="toc-top-link">Top</a></h2>
              <hr />
            </div>


            <div class="col-sm-12 guide-block">
              <asciidoctor [source]="source" [toc]=true (loaded)="showToc(true)" (error)="showToc(false)"></asciidoctor>
            </div>
          </div>

          <div *ngIf="relatedGuides?.length > 0" class="row row-cards-pf related guides">
            <div class="col-sm-12">
              <h2>Keep learning</h2>
              <hr />
            </div>

            <ng-container *ngFor="let guide of relatedGuides; let i = index">
              <div *ngIf="i < 4" class="col-sm-12 guide-block">
                <div>
                  <h4 class="title"><a *ngIf="guide.urls?.local" [routerLink]="['../',guide.urls.local]"> {{guide.title}}  </a></h4>
                  <p class="description">{{guide.description}}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </div>
    </div>
    <div class="row padding-top-10">
      <div class="col-sm-12">
        <hr/>
      </div>
    </div>
  </div>
</div>
