.padding-15 {
  padding: 15px;
}

hr {
  border: 0;
  height: 1px;
  background: #888;
  background-image: linear-gradient(to right, #ccc, #888, #ccc);
}

.documentation {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800 !important;
  }
}

.guide-header {
  .download {
    float: right;
    display: block;
    text-align: right;
    margin: 0 0 10px 10px;
    background-color: #dbedff;
    padding: 10px;
    border-radius: 5px;
  }

  .tags {
    .tag {
      display: inline-block;
      cursor: pointer;
      margin-right: 5px;

      a {
        background-color: #e2e2e2;
        background-image: none;
        border-radius: 5px;
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 11px;
        margin: 0;
      }
    }
  }
}

.guides,
.projects {
  hr {
    margin-bottom: 0;
  }

  h3,
  h4 {
    font-weight: bold !important;
  }

  &.guides {
    padding: 10px;
    border-radius: 5px;
    background-color: #ebebeb;
  }

  &.projects {
    padding: 10px;
    border-radius: 5px;
    background-color: #ebebeb;

    a {
      text-decoration: none;
    }

    .project-logo {
      float: right;
      margin-left: 10px;
      margin-bottom: 5px;
      margin-top: 0;
      border-radius: 5px;
      background-color: #fff;
    }

    .project-color {
      display: inline-block;
      padding: 2px;
      text-align: center;
      width: 27px;
      border-radius: 3px;
    }

    .thumbnail {
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }

    .thumbnail img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }

    .thumbnail img.portrait {
      width: 100%;
      height: auto;
    }
  }
}

.enablements {
  .enablement {
    background-color: #c8d4ff;

    &:hover {
      background-color: #90efa3;
    }
  }

  .prereq.prereq-label {
    background-color: #4671a7;
  }
}

.prerequisites {
  height: 140px;
  overflow-y: hidden;
  overflow-x: auto;

  .prereq {
    display: inline-block;
    width: 140px;
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 3px;
    background-color: #b3ffa0;
    border-radius: 5px;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    transition: all 0.2s;

    &:hover {
      background-color: #a3ef90;
    }

    .link {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: #363636;
    }

    .title {
      margin-top: 0 !important;
      margin-bottom: 5px !important;
      min-height: 30px;
      font-size: 12px;
    }

    .description {
      display: block;
      font-size: 11px !important;
    }
  }

  .prereq.prereq-label {
    background-color: #46a74c;
    width: 18px;
    margin-right: 0;

    .label {
      color: #fff;
      display: block;
      transform: rotate(-90deg);
      height: 40px;
      width: 169px;
      position: relative;
      left: -75px;
      bottom: -40px;
      text-transform: uppercase;
    }
  }
}