.current {
  text-shadow: 0 0 1px black !important;
}

.admonitionblock {
  padding-top: 15px;

  table {
    width: 80%;
    background-color: #bbc7c7;
    margin: 15px;
    width: 100%;
    overflow-x: scroll;

    .icon {
      font-weight: bold;
    }
  }
}

table {
  width: 100% !important;
  white-space: break-word;
  word-wrap: break-word;
  word-break: break-all;

  thead {
    width: 100%;
    background-color: #bbc7c7;

    th {
      padding: 5px;
    }
  }

  td {
    padding: 5px;
  }
}

.sectlevel1 {
  font-size: 16px;
  list-style: none;
  padding-left: 10px;

  li {
    margin-top: 10px;
  }
}

.sectlevel2 {
  font-size: 14px;
}

.sect2.expandable {
  transition: all 200ms;
  margin-bottom: 10px;
  border-radius: 3px;

  & > div,
  table {
    transition: all 200ms;
    padding-left: 15px;
    padding-right: 15px;
  }

  > :first-child {
    border-radius: 3px;
    transition: all 200ms;
    padding: 9px 10px;

    &:hover {
      background-color: #ccccff !important;
    }
  }

  > :last-child {
    padding-bottom: 10px;
  }

  > :not(table):not(div)::before {
    content: "-";
    height: 20px;
    width: 20px;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    font-family: courier;
    color: #00cc00;
  }

  &:not(.expand) {
    background-color: #99ff9978;
    border-radius: 3px;
    cursor: pointer;

    div,
    table {
      display: none;
    }

    > :not(table):not(div)::before {
      content: "+";
    }
  }

  &.expand {
    background-color: #ddd;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      cursor: pointer;
      margin-bottom: 15px;
    }

    > :first-child {
      background-color: #ccccdd;
    }
  }
}