.current {
  text-shadow: 0 0 1px black !important;
}

.sectlevel1 {
  font-size: 16px;
  list-style: none;
  padding-left: 10px;

  li {
    margin-top: 10px;
  }
}

.sectlevel2 {
  font-size: 14px;
}