<div class="content">
  <section id="intro">
    <div class="container">
      <img class="project-logo" src="../../assets/img/snowdrop-logo-text.png" alt="Snowdrop">
      <h1>Your path to develop Cloud Native Spring Application on Openshift/Kubernetes</h1>
      <h3>
        Create Spring Boot applications with all the benefits, best practices, and established patterns of the cloud environement.
      </h3>
    </div>
    <div class="container workflow">
      <div class="row align-center">

        <div class="col-md-4">
          <a class="action link btn btn-lg btn-secondary" [routerLink]="['guides','get-cloud-ready']">
            <h3 class="align-center">
              <i class="fa fa-cloud"></i>
              Get Cloud Ready.
            </h3>
          </a>
        </div>

        <div class="col-md-4">
          <a class="action link btn btn-lg btn-secondary" [routerLink]="['guides','get-started']">
            <h3 class="align-center">
              <i class="fa fa-bolt"></i>
              Get Started.
            </h3>
          </a>
        </div>

        <div class="col-md-4">
          <a class="action link btn btn-lg btn-secondary" [routerLink]="['guides','use-best-practices']">
            <h3 class="align-center">
              <i class="fa fa-book"></i>
              Best Practices.
            </h3>
          </a>
        </div>

      </div>
    </div>
  </section>

  <section id="video">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="video" style="height: 400px; width: 600px; border: solid 2px #ccc;">
            <a href="https://asciinema.org/a/q4SKHqUi7dJc0QhSysiI5De9A" target="_blank"><img style="height: 400px;" src="https://asciinema.org/a/q4SKHqUi7dJc0QhSysiI5De9A.png" /></a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- <section id="actions">
    <div class="container">
      <div class="preview row">
        <div class="col-sm-6 action">
          <h2>Launch an example</h2>
          <p>
            Our catalog of pre-built boosters allows you to pick a concept, deploy it, and get a demo running in seconds.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" (click)="launch()">Launch an example</a>
          </p>
        </div>

        <div class="col-sm-6 action">
          <h2>Deploy your own cloud</h2>
          <p>
            Want to build <strong>and run</strong> your apps on a local cloud? Get your development environment set up using these instructions.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" href="/guides/setup-local-cloud">Get your cloud!</a>
          </p>
        </div>
      </div>

      <div class="preview row">
      </div>
    </div>
  </section> -->


  <section id="followup">
    <div class="container">
      <div class="preview row">
        <div class="col-sm-12 runtime">
          <h3 class="align-center">
            <a href="/about">Learn more</a>. Or visit Snowdrop on <a href="https://github.com/snowdrop">GitHub</a>.
          </h3>
        </div>
      </div>
    </div>
  </section>
</div>
