<div class="content">
  <section id="intro">
    <div class="container">
      <img class="project-logo" src="../../assets/img/snowdrop-logo-text.png" alt="Snowdrop">
      <h1>Your path to Cloud Native</h1>
      <h3>
        Create production-grade Spring Boot applications with all the benefits, best practices, and established patterns of the cloud.
      </h3>
      <a class="btn btn-lg" (click)="launch()">Get Started</a>
      <div class="try-box">
        <span class="try" (click)="scrollDown()">Or scroll down to learn more.</span>
      </div>
    </div>
  </section>

  <section id="workflow">
    <div class="container">
      <div class="preview row">
        <div class="col-sm-12">
          <h3 class="align-center">
            Snowdrop makes it easy to create production-grade Spring-based Applications that you can "just run".
          </h3>
        </div>
      </div>
      <div class="preview row">
        <div (click)="openURL('https://docs.openshift.org/latest/minishift/getting-started/preparing-to-install.html')" class="col-sm-4 runtime link">
          <h3 class="align-center">
            Get Cloud Ready.
          </h3>
        </div>
        <div (click)="launch()" class="col-sm-4 runtime link">
          <h3 class="align-center">
            Get Started.
          </h3>
        </div>
        <div (click)="goToGuides()" class="col-sm-4 runtime link">
          <h3 class="align-center">
            Use Best Practices.
          </h3>
        </div>
      </div>
      <div class="preview row">
      </div>
    </div>
  </section>

  <section id="video">
    <div class="container">
      <div class="preview row">
        <div class="col-sm-12 runtime">
          <h4 class="align-center">
            Our simple workflow lets you to push new changes to production in seconds.<br /> No manual deployments.</h4>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-sm-12">
          <div class="video" style="height: 400px; width: 600px; border: solid 2px #ccc; margin: 0 auto;">
            Watch a 2-minute video demo of Snowdrop in action.
          </div>
        </div>
      </div>
      -->
    </div>
  </section>

  <section id="actions">
    <div class="container">
      <div class="preview row">
        <div class="col-sm-6 action">
          <h2>Launch an example</h2>
          <p>
            Our catalog of pre-built boosters allows you to pick a concept, deploy it, and get a demo running in seconds.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" (click)="launch()">Launch an example</a>
          </p>
        </div>

        <div class="col-sm-6 action">
          <h2>Deploy your own cloud</h2>
          <p>
            Want to build <strong>and run</strong> your apps on a local cloud? Get your development environment set up using these instructions.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" href="/guides/setup-local-cloud">Get your cloud!</a>
          </p>
        </div>
      </div>

      <div class="preview row">
      </div>
    </div>
  </section>


  <section id="followup">
    <div class="container">
      <div class="preview row">
        <div class="col-sm-12 runtime">
          <h3 class="align-center">
            <a href="/about">Learn more</a>. Or visit Snowdrop on <a href="https://github.com/snowdrop">GitHub</a>.
          </h3>
        </div>
      </div>
    </div>
  </section>
</div>
